<nav class="crumb"><a href="index.html">metamodel</a> › <a href="package.{{PackageName}}.html">{{PackageName}}</a> › <span>{{Name}}</span></nav>
<h1><span class="kind">{{Kind}}</span> <code>{{Name}}</code></h1>
{{> doc Documentation}}
{{#if HasSuperTypes}}
<h2>Super-types</h2>
<ul class="types inline">
{{#each SuperTypes}}
    <li>{{> typelink}}</li>
{{/each}}
</ul>
{{/if}}
{{#if HasSubTypes}}
<h2>Sub-types</h2>
<ul class="types inline">
{{#each SubTypes}}
    <li>{{> typelink}}</li>
{{/each}}
</ul>
{{/if}}
{{#if HasFeatures}}
<h2>Features</h2>
<table class="features">
    <thead>
        <tr><th>Name</th><th>Type</th><th class="num">Mult.</th><th>Kind</th><th>Declared in</th><th>Documentation</th></tr>
    </thead>
    <tbody>
{{#each Features}}
        <tr{{#if IsComputed}} class="computed"{{/if}}>
            <td><code>{{Name}}</code></td>
            <td>{{> typelink Type}}</td>
            <td class="num">{{Multiplicity}}</td>
            <td>{{Kind}}{{#if IsComputed}} <span class="tag">derived</span>{{/if}}</td>
            <td>{{#if IsInherited}}{{> typelink DeclaredIn}}{{/if}}</td>
            <td class="doc">{{#each Documentation}}{{this}} {{/each}}</td>
        </tr>
{{/each}}
    </tbody>
</table>
{{/if}}
