<h1>Capella metamodel</h1>
<p class="counts">{{PackageCount}} packages · {{ClassCount}} classes · {{EnumCount}} enumerations</p>
<table class="listing">
    <thead>
        <tr><th>Package</th><th class="num">Classes</th><th class="num">Enumerations</th></tr>
    </thead>
    <tbody>
{{#each Packages}}
        <tr><td><a href="{{Href}}">{{Name}}</a></td><td class="num">{{ClassCount}}</td><td class="num">{{EnumCount}}</td></tr>
{{/each}}
    </tbody>
</table>
