<nav class="crumb"><a href="index.html">metamodel</a> › <span>{{Name}}</span></nav>
<h1>package <code>{{Name}}</code></h1>
{{> doc Documentation}}
{{#if Classes}}
<h2>Classes <span class="count">({{ClassCount}})</span></h2>
<ul class="types">
{{#each Classes}}
    <li><a href="{{Href}}">{{Name}}</a>{{#if IsInterface}} <span class="tag">interface</span>{{else}}{{#if IsAbstract}} <span class="tag">abstract</span>{{/if}}{{/if}}</li>
{{/each}}
</ul>
{{/if}}
{{#if Enums}}
<h2>Enumerations <span class="count">({{EnumCount}})</span></h2>
<ul class="types">
{{#each Enums}}
    <li><a href="{{Href}}">{{Name}}</a></li>
{{/each}}
</ul>
{{/if}}
